.vscode
*.exe
*.o
*.d
a.out
temp.txt
input.txt
*
!/**/
!*.*
.gitignore
.vscode/c_cpp_properties.json
.vscode/settings.json
.DS_STORE
*.dSYM/
*.o
*.i
*.s
input.txt
output.txt
.clang-format
CPP_DSA.sublime-project
CPP_DSA.sublime-workspace
.vscode/
BitMap/bits_assignment.md
.git-ignore
a.out
temp.txt
cscope*
